<html>
    <title>ASP.NET Core en Docker</title>
    <head>
        <link rel="stylesheet" type="text/css" href="~/css/styles.css">
    </head>
    <body>
        <img class="logo" src="~/images/docker-logo.png" alt="Docker logo">
        <p>
            <ul>
                <li><a href="https://www.docker.com/">Docker</a></li>
                <li><a href="https://beta.docker.com/">Beta de Docker para OSX y Windows.</a></li>
            </ul>
        </p>
        <img class="logo" src="~/images/aspnet-logo.png" alt="ASP.NET logo">
        <p>
            <ul>
                <li><a href="https://dot.net">.NET</a></li>
                <li><a href="https://www.asp.net">ASP.NET</a></li>
                <li><a href="https://docs.asp.net/en/latest/">Documentaci&oacute;n de ASP.NET Core</a></li>
            </ul>
        </p>
    </body>
</html>